.custom-checkbox {
  width: 25px;
  height: 25px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #ccc;
  border-radius: 6px;
  display: inline-block;
  position: relative;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 9px;
  width: 4px;
  height: 14px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox-blue:checked {
  background-color: #2469f6;
  border-color: #2469f6;
}

.custom-checkbox-light-blue:checked {
  background-color: #5087F8;
  border-color: #5087F8;
}

.custom-checkbox-light-white:checked {
  background-color: #ffffff;
  border-color: #ffffff;
  border: 1px solid #BDBDBD;
}

.checkbox-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.checkbox-tick-white {
  border: solid white;
}

.checkbox-tick-grey {
  border: solid #e3e3e3;
}

.checkbox-tick-black {
  border: solid #878787;
}
